/*=================================================================
  SECTION: HERO
 *================================================================*/

.banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    font-size: smaller;
    z-index: 1;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.banner .container > * {
    margin: 0;
}

#application {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: none,
    radial-gradient(62vh 150vh at 0 -50vh, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(62vh 150vh at 100% -50vh, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

#application .container {
    position: absolute;
    padding: 2em;
}

#application div[data-active="false"] {
    display: none;
}

#application div[data-active="true"] {
    display: block;
    transition: all .38s ease-in 0s;
}

#application .box {
    border: 1px solid var(--panel-contrast);
    background: rgba(var(--panel-contrast-rgb), 0.4);
}

#application .box .caption {
    position: absolute;
    right: 0;
    bottom: 0.2em;
    left: 0;
}